.header-color {
  background-color: rgb(79, 182, 223);
  width: 100vw;
}

.left-div-logo {
  height: 90px;
  width: 150px;
}

.center-div {
  margin-top: 15px;
}

.right-div-anchor {
  float: right;
  margin: 30px;
  font-size: large;
  color: white;
  text-decoration: none;
}
