<div class="container book-item" *ngFor="let item of books">
  <div class="row book-row">
    <div class="col-sm-2">
      <img src="../../../assets/bookCovers/I1.jpg" alt="">
    </div>
    <div class="col-sm-10">
      <div class="container details">
        <div class="row detail-row">
          <a href = "#" class = "title">{{item.title}}</a>

        </div>
        <div class="row detail-row">
          <a href = "#" class = "author">{{item.author}}</a>
        </div>
        <div class="row detail-row">
          <a href = "#" class = "publisher">{{item.publisher}}</a>
        </div>
        <div class="row detail-row">
          lorem ipsum dolor sit amet, consectetur adipisicing. Excepteur sint occaecat cup. Cum societes. Proident. lorem ips. Lorem ipsum dolor sit am. Lorem ipsum dolor sit am. Lorem ipsum. Lorem ipsum dolor sit am. Lorem ipsum dolor sit am. Lorem ipsum.
        </div>
      </div>
    </div>
  </div>
</div>
